/* 
    Document   : letters
    Created on : 10-01-2012, 03:55:43 PM
    Author     : Mario Alvarado
*/

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(EAqh528fFdbUek8UOky4sA.woff) format('woff');
}